<h3>Team Data: </h3>
<div>
  <h4>Cube Placement: </h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Element</th>
      <th scope="col">Can Do?</th>
      <th scope="col">Percent Focus</th>
      <th scope="col">Total Focus</th>
      <th scope="col">Average</th>
    </tr>
    </thead>
    <tr>
      <td>Switch</td>
      <td>Yes</td>
      <td>{{percSwitchFocus | number:'.0-0'}}%</td>
      <td>{{switchFocus}}</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Scale</td>
      <td>Yes</td>
      <td>{{percScaleFocus | number:'.0-0'}}%</td>
      <td>{{scaleFocus}}</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Opposite Switch</td>
      <td>Yes</td>
      <td>{{percOppSwitchFocus | number:'.0-0'}}%</td>
      <td>{{oppSwitchFocus}}</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Exchange</td>
      <td>Yes</td>
      <td>{{percExchangeFocus | number:'.0-0'}}%</td>
      <td>{{exchangeFocus}}</td>
      <td>2</td>
    </tr>
  </table>
</div>

<div>
  <h4>Autonomous</h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Can Do</th>
      <th scope="col">Percent Focus</th>
      <th scope="col">Total Focus</th>
      <th scope="col">Success Percentage</th>
    </tr>
    </thead>
    <tr>
      <td>Baseline</td>
      <td>Yes</td>
      <td>100%</td>
      <td>10</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Switch</td>
      <td>Yes</td>
      <td>100%</td>
      <td>10</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Scale</td>
      <td>Yes</td>
      <td>100%</td>
      <td>10</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Crosscourt</td>
      <td>Yes</td>
      <td>100%</td>
      <td>10</td>
      <td>100%</td>
    </tr>
  </table>
</div>
