<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/bootstrap-3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">XScout</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Upload Data</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>