<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="ISO-8859-1"/>
    <title>XScout</title>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <script src="/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header "></div>
<div class="container"><br/>
    <div class="alert alert-success">
        <strong>Success!</strong> <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>