<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="ISO-8859-1"/>
    <title>XScout</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/headerstyle.css"/>
    <script src="../static/jquery/jquery-3.3.1.min.js" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script src="../static/bootstrap-3.3.7js/bootstrap.min.js" th:src="@{bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script src="../static/chartjs/Chart.min.js" th:src="@{/chartjs/Chart.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header "></div>

<div class="container">
    <div class="col-lg-6 col-sm-12">
        <h3>Team Data: </h3>
        <div>
            <h4>Cube Placement: </h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Can Do?</th>
                    <th scope="col">Percent Focus</th>
                    <th scope="col">Total Focus</th>
                    <th scope="col">Average</th>
                </tr>
                </thead>
                <tr>
                    <td>Switch</td>
                    <td>Yes</td>
                    <td>30%</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Scale</td>
                    <td>Yes</td>
                    <td>30%</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Opposite Switch</td>
                    <td>Yes</td>
                    <td>30%</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
            </table>
        </div>

        <div>
            <h4>Autonomous</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Can Do</th>
                    <th scope="col">Percent Focus</th>
                    <th scope="col">Total Focus</th>
                    <th scope="col">Success Percentage</th>
                </tr>
                </thead>
                <tr>
                    <td>Baseline</td>
                    <td>Yes</td>
                    <td>100%</td>
                    <td>10</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>Switch</td>
                    <td>Yes</td>
                    <td>100%</td>
                    <td>10</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>Scale</td>
                    <td>Yes</td>
                    <td>100%</td>
                    <td>10</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>Crosscourt</td>
                    <td>Yes</td>
                    <td>100%</td>
                    <td>10</td>
                    <td>100%</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-lg-6 col-sm-12">
        <h3>Plot, Cubes Placed</h3>
        <canvas id="elementChart" width="100%"></canvas>
        <script>
            var switchData = [3,0,0,0,0,1,0];
            var scaleData = [2,2,4,0,4,1,3];
            var oppSwitchData = [0,0,0,2,0,1,0];

            var datalength = switchData.length;

            if(scaleData.length > datalength) datalength = scaleData.length;
            if(oppSwitchData.length > datalength) datalength = oppSwitchData.length;

            var ctx = document.getElementById("elementChart").getContext("2d");

            var buildData = function(switchData, scaleData, oppSwitchData) {
                var out = [];
                out.push({
                    data:switchData,
                    label:"Switch",
                    borderColor: "#f8ca00",
                    fillColor: "#f8ca00"
                }, {
                    data:scaleData,
                    label:"Scale",
                    borderColor:"#00c853",
                    fillColor: "#00c853",
                },{
                    data:oppSwitchData,
                    label:"Opposite Switch",
                    borderColor: "#b5b0b0",
                    fillColor: "#b5b0b0"
                });
                console.log(out);
                return out;
            }

            var genLabels = function (datalength) {
                var out = [];
                for(i=0; i<datalength; i++){
                    out.push(i+1);
                }
                console.log(out);
                return out;
            }

            var options = {
                scales: {
                    yAxes: [{
                        stacked:true
                    }]
                }
            }

            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: genLabels(datalength),
                    datasets: buildData(switchData,scaleData,oppSwitchData),
                },
                options: options,
            });

        </script>

    </div>
</div>
</body>
</html>